# Rust
target

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.venv/

# OS
.DS_Store
Thumbs.db

# VX
*.vxobj
*.vx
*.out
!vxsetting.toml
vxmod.toml
!vxmod.toml
*.vack
*.json
# Logs
logs/

# Qodana
qodana.yaml
*.toml
package
*.zip
test_fib190_out
test_debugger